@font-face {
    font-family: 'BMJUA';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/BMJUA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
*{
    font-family: 'BMJUA';
    cursor: default;
}
:root {
    --background-color: #D6E4F0;
    --bodybackground-color: #F6F6F6;
    --accent-color: #F6F6F6;
    --text-color: #163172;
    --icon-color: black;
}
i{
    cursor: pointer;
}
body{
    margin: 0;
}
header{
    margin: 0;
    height: 55px;
}
main{
    margin: 0;
    min-height: 700px;
}
footer{
    background-color: var(--background-color);
    height: 100px;
}
.nav_bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--background-color);
    padding: 10px 12px;
}
.nav_logo i {
    color: var(--icon-color);
    padding-left: 0;
}
a {
    text-decoration: none;
    color: var(--text-color)
}
.nav_menu {
    list-style: none;
    display: flex;
    margin: 0;
    padding-left: 0;
}
.nav_menu li {
    padding: 8px 30px;
}
.nav_menu li:hover {
    background-color: var(--accent-color);
    border-radius: 5px;
    width: 100%;
}
.nav_icon {
    list-style: none;
    display: flex;
    margin: 0;
}
.nav_icon i{
    color: var(--icon-color);
    padding-left: 0;
}
.nav_icon li {
    padding: 8px 12px;
    margin: 0;
}
.nav_toggle {
    display: none;
}
.footer_con{
    padding: 10px 30px;
    text-align: center;
    font-size: 10px;
    color: var(--text-color);
}
/* 반응형 */
@media screen and (max-width:700px) {
    .nav_bar {
        flex-direction: column;
        align-items: flex-start;
        margin: 0;
    }
    .nav_menu {
        display: none;
        flex-direction: column;
        align-items: center;
        width: 100%;
        padding: 12px;
    }
    .nav_menu li {
        width: 100%;
        text-align: center;
    }
    .nav_icon {
        display: none;
        justify-content: center;
        width: 100%;
        padding: 0;
    }
    .nav_toggle {
        color: var(--icon-color);
        position: absolute;
        right: 15px;
        font-size: 20px;
        display: block;
    }
    .nav_menu.active,
    .nav_icon.active {
        display: flex;
    }
    header{
        height: 39px;
    }
    main{
        position:relative;
        width: 100%;
        min-height: 700px;
        margin: 0;
    }
    footer{
        position: relative;
        background-color: var(--background-color);
        height: 100px;
    }
    .modal_btn{
        position: static;
    }
    .modal_btn.active{
        position: relative;
        top: 190px;
    }
}