@font-face {
    font-family: 'LAB디지털';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/LAB디지털.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'ChosunGu';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@1.0/ChosunGu.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
.modal{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    background-color: rgba(0, 0, 0, 0.4);
}
.modal.show{
    display: block;
}
.modal_body {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    height: 600px;
    padding: 40px;
    text-align: center;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    box-shadow: 0 2px 3px 0 rgba(34, 36, 38, 0.15);

    transform: translateX(-50%) translateY(-50%);
}
.modal_btn{
    margin: 10px;
    padding: 5px 5px;
    border: none;
    border-radius: 5px;
    color: var(--text-color);
    background-color: var(--background-color);
}
.modal_btn:hover{
    color: var(--accent-color);
}
table{
    border: solid 1px;
    border-radius: 5px;
    width: 100%;
}
td{
    padding: 5px;
    margin: 0;
}
.time{
    font-family: 'LAB디지털';
    width: 15%;
}
.content{
    font-family: 'ChosunGu';
    width: 60%;
    text-align: left;
}
.edit{
    font-family: 'ChosunGu';
    width: 25%;
    text-align: center;
}
button{
    cursor: pointer;
}
.edit>button{
    background-color: white;
    border: 1px solid;
    border-radius: 3px;
    padding: 3px 5px;
}
.edit>button:hover{
    background-color: black;
    color: white;
}